<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <div id="app">
        <template v-if="ok">
            <p>hello</p>
            <p>good night</p>
            <p>おはよう</p>
        </template>
        <div v-show="ok">v-showだよ</div>

        <button @click="ok = !ok">アピアランス</button>
        
        <!-- v-for -->
        <ul>
            <li v-for="fruit in fruits"> {{ fruit }}</li>
            <li v-for="(fruit, banme) in fruits"> {{banme}} --{{ fruit }}</li>
        </ul>
        <ul><li v-for="(val, daini, daisan) in OBJ">{{daisan}}---{{daini}}>>>{{val}}</li></ul>
        <ul>
            <template v-for="fruit in fruits">
                <li>{{fruit}}</li>
                <hr>
            </template>
        </ul>
        <!-- 整数値を指定することもできる -->
        <ul>
            <li v-for="n in 10">
                {{n}}
            </li>
        </ul>
        <button @click="remove">remove</button>

    </div>
    <script>
        new Vue ({
            el: '#app',
            data: {
                ok: true,
                fruits: ['りんご', 'バナナ', 'ぶどう'],
                OBJ: {
                    firstName: 'tanaka',
                    lastNmae: 'デグレチャフ',
                    age: 38
                    }
                },
            methods: {
                    remove: function() {
                        this.fruits.shift()
                    }
                }
        })
    </script>    
</body>
</html>